body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 100% and 0 are incompatible.\a    \2577 \a 66 \2502                      width: calc(100% - 0);\d\a    \2502                                  ^^^^^^^^\a    \2575 \a   page\\_chat.scss 66:33         @content\a   mixins\\_responsive.scss 11:3  max-screen()\a   page\\_chat.scss 65:17         @import\a   main.scss 40:9                root stylesheet";
}
